@import './variables';
$heart-size: 16px;
$avatar-size: 32px;

.card{
  width: 100%;
  margin: auto;

  &-head{
    display: flex;
    font-size: 20px;
    padding-top: 10px;

      &-name{
        margin: 0 10px;
        font-weight: bold;
      }

  }
  .card_icon{
    cursor: pointer;
    width: 45px;
    height: 45px;
    margin: ($avatar-size - $back-icon-size) / 2 10px 0;
  }

  &-body{
    &-nippou{
      width: 280px;
      margin-left: 45px;
      margin-top: -20px;
    }

    &-react{
      display: flex;
    }
  }

  svg{
    width:10px;
    width: 50%;

  }

    th{
      width: 100px;
      height: 30px;
    }

    td.number{
      font-size: 20px;
      text-align: right;
      width: 10px;
    }

    td.unit{
      padding-top: 20px;
      width: 20px;
    }

    td.impress{
      width: 40px;
    }
  
    &_heart {
      display: flex;
    }
  
      img {
        width: $heart-size;
        height: $heart-size;
      }
    &-header {
      img {
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 100%;
        margin-right: 8px;
      }
    }
  }